In [7]:
import numpy as np
import pandas as pd

df = pd.read_csv("preprocessing_datasample.csv")
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [8]:
df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [9]:
df.Country.fillna(df.Country.mode()[0], inplace=True)
features = df.iloc[:,:-1].values
labels = df.iloc[:,-1].values

/tmp/ipykernel_3053/2307921471.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Country.fillna(df.Country.mode()[0], inplace=True)

In [10]:
from sklearn.impute import SimpleImputer

age = SimpleImputer(strategy="mean", missing_values=np.nan)
salary = SimpleImputer(strategy="mean", missing_values=np.nan)

age.fit(features[:,[1]])

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
salary.fit(features[:,[2]])

In [ ]:
features[:,[1]] = age.transform(features[:,[1]])
features[:,[2]] = salary.transform(features[:,[2]])
features

In [ ]:
from sklearn.preprocessing import OneHotEncoder

oh = OneHotEncoder(sparse_output=False)
country = oh.fit_transform(features[:,[0]])
country

In [ ]:
final_set = np.concatenate((country, features[:,[1,2]]), axis=1)
final_set

In [ ]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
sc.fit(final_set)
feat_standard_scaler = sc.transform(final_set)
feat_standard_scaler

In [ ]:
from sklearn.preprocessing import MinMaxScaler

mns = MinMaxScaler(feature_range=(0, 1))
mns.fit(final_set)
feat_minmax_scaler = mns.transform(final_set)
feat_minmax_scaler